{% extends "base.html" %}

{% from "components/files-list/macro.html" import tnaFilesList %}

{%- set pageTitle = "Atomic Weapons Establishment: Merlin records" -%}

{% block content %}
<div class="tna-background-accent-light">
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <hgroup class="tna-hgroup-xl">
          <p class="tna-hgroup__supertitle">Series</p>
          <h1 class="tna-hgroup__title">Atomic Weapons Establishment: Merlin records concerning nuclear test veterans and the nuclear testing programme</h1>
        </hgroup>
        <p>The transfer of the Merlin Database records from the Atomic Weapons Establishment (AWE) to The National Archives started in September 2025. The Ministry of Defence and AWE anticipate that it will take around a year to transfer all Merlin records to The National Archives.</p>
      </div>
    </div>
  </div>
</div>
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <p class="tna-large-paragraph">Individual Merlin records can be accessed through our online catalogue, Discovery. They are catalogued within the <a href="https://discovery.nationalarchives.gov.uk/details/r/C20816086">series ES 38</a>.</p>
        <p>In view of the size of the collection and ongoing public interest in these records, The National Archives has put in place a bulk access service. All records that are available to be viewed through Discovery can also be accessed and downloaded from this page.</p>
        <p>The content will be updated as records are transferred to The National Archives and published on Discovery. Any content that has been redacted on the version that is available through Discovery will also be redacted on the version available through this bulk access service.</p>

        <h2 class="tna-heading-l">Downloads</h2>
        {%- set files = [] %}
        {%- for item in manifest['items'] | sort(attribute='created_timestamp,name') | sort(attribute='from_datetime', reverse=True) %}
          {%- set description = 'Updated: ' ~ (item.created_timestamp | pretty_datetime) %}
          {%- if item.from_datetime and item.to_datetime %}
            {%- set description = description ~ '<br>Covering: ' ~ (pretty_date_range(item.from_datetime, item.to_datetime)) %}
          {%- endif %}
          {%- do files.append({
            'id': 'merlin-file-' ~ loop.index,
            'text': item.name,
            'href': app_config['S3_EXPORT_BUCKET_HOST_URL'] ~ '/' ~ item.file,
            'fileType': 'ZIP',
            'fileSize': (item.file_size or item.total_size) | pretty_file_size,
            'fileExtent': ('{:,}'.format(item.file_count)) ~ ' file' ~ ('s' if item.file_count != 1 else ''),
            'description': description | safe,
            'icon': 'zipper'
          }) %}
        {%- endfor %}
        {{ tnaFilesList({
          'itemHeadingLevel': 3,
          'items': files,
          'fullAreaClick': True
        }) }}

        {%- if app_config['MERLIN_FILENAME_REPORT_URL'] %}
          {{ tnaFilesList({
            'itemHeadingLevel': 3,
            'items': [
              {
                'id': 'files-manifest',
                'text': 'Files manifest',
                'href': app_config['MERLIN_FILENAME_REPORT_URL'],
                'fileType': 'CSV',
                'icon': 'csv',
                'description': 'A CSV file containing a list of all files available in the Merlin record downloads, including their original names.'
              }
            ],
            'fullAreaClick': True
          }) }}
        {%- endif %}
      </div>
    </div>
  </div>
{% endblock content %}
